<ul class="container-fluid row navbar fixed-top navbar-dark bg-dark">
    <div class="nav col-6">
        <a class="navbar-brand alert-link" [routerLink]="['/']">YGGDRASIL</a>
    </div>
    <div class="nav col-6 justify-content-end">
        <li class="nav-item btn-sm btn-dark btn-outline-light">
            <a class="nav-link alert-link" [routerLink]="['/eventos']">Eventos</a>
        </li>
        <li class="nav-item btn-sm btn-dark btn-outline-light">
            <a class="nav-link alert-link" [routerLink]="['/partidas']">Partidas</a>
        </li>
        <li class="nav-item btn-sm btn-dark btn-outline-light">
            <a class="nav-link alert-link" [routerLink]="['/ingresar']">Ingresar</a>
        </li>
        <li class="nav-item btn-sm btn-dark btn-outline-light">
            <a class="nav-link alert-link" [routerLink]="['/registrar']">Registrarse</a>
        </li>
    </div>

</ul>