<header class="container-fluid row navbar navbar-expand-md fixed-top navbar-dark bg-dark dont-pad-me">
    <div class="nav col-md-6 col-10 justify-content-center">
        <a class="navbar-brand alert-link" [routerLink]="['/']">YGGDRASIL</a>
    </div>
    <button class="navbar-toggler col-md-6 col-2" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>
    <ul class="nav col-md-6 justify-content-between collapse navbar-collapse" id="navbarNav">
        <li class="nav-item btn-sm col-md-auto col-sm-12 btn-outline-light text-center" routerLinkActive="active">
            <a class="nav-link alert-link" [routerLink]="['/eventos']">Eventos</a>
        </li>
        <li class="nav-item btn-sm col-md-auto col-sm-12 btn-dark btn-outline-light text-center" routerLinkActive="active">
            <a class="nav-link alert-link" [routerLink]="['/partidas']">Partidas</a>
        </li>
        <li class="nav-item btn-sm col-md-auto col-sm-12 btn-dark btn-outline-light text-center" routerLinkActive="active">
            <a class="nav-link alert-link" [routerLink]="['/ingresar']">Ingresar</a>
        </li>
        <li class="nav-item btn-sm col-md-auto col-sm-12 btn-dark btn-outline-light text-center" routerLinkActive="active">
            <a class="nav-link alert-link" [routerLink]="['/registrar']">Registrarse</a>
        </li>
    </ul>
</header>